{% extends "header.html" %}
{% block content %}
<style>
    .card {
        background-color: rgba(256, 256, 256, 0.8);
        border-radius: 20px;
    }

</style>
<div class="container">
    <div class="card">
        <h1 class="header center darken-3 green-text">About Us</h1>
        <div class="row center">
            <p>Deforestation is a pressing issue in our world nowadays because it contributes to decreased biodiversity,
                living space misfortune, climate alters, and other annihilating impacts. Despite its importance, most
                countries, including India, do not have detailed statistics on the extent of deforestation. We are
                trying to find the solution using Satellite data to predict deforestation and help researchers find the
                answers for the problem and understand the reason behind it.

                The technologies related to satellite imagery has made significant advancement over the years resulting
                in more convenience quickness, and improved data precision in detection of deforestation Real-Time
                System for Detection of Deforestation is the method currently followed by the researchers to reduce the
                rate of deforestation in brazil by huge margins which helps in reducing forest clearing on a large scale
                Landsat or Moderate Resolution Imaging Spectroradiometer are mostly used for tracking forests using
                high-resolution imagery. These methods are mostly limited to track only large-scale deforestation;
                hence, not able to provide better results on small-scale deforestation caused due to natural or human
                interference.

                We will use the Google earth engine for building a dataset as it is the collection of satellite imagery
                of the earth. This engine will provide us the labeled data for the land surface imagery, which will be
                of 30-meter resolution. This data will be used to train a neural network model to achieve the task of
                predicting deforestation. We have used multiple algorithms to calculate the features and labels needed
                for the model and extracted them for many regions worldwide. We treat this problem with one or more of
                10 features that indicate atmospheric conditions, land cover, and land condition.</p>
            <br>
        </div>
    </div>
</div>
{% endblock %}
