{% extends "header.html" %}
{% block content %}
<style>
    .card {
        background-color: rgba(256, 256, 256, 0.8);
        border-radius: 20px;
    }

</style>
<div class="container">
    <div class="card">
        <h1 class="header center darken-3 green-text">About Us</h1>
        <div class="row center">
            <p>Consequuntur quasi laboriosam praesentium neque commodi distinctio. Voluptatum aspernatur ullam quis.
                Voluptatem nihil vel veniam consequatur. Maiores consequatur cupiditate fugiat aut sed repudiandae.
                Distinctio mollitia voluptas aliquam.

                Expedita sed nisi quos quaerat. Qui optio vero ut cupiditate cumque. Nesciunt maiores et rem quae hic
                qui modi similique. Consequuntur tempore recusandae. Optio quaerat qui non. Natus molestiae voluptas
                rerum ea veniam veritatis.

                Praesentium rerum est maxime doloribus ipsum illo eaque. Facere asperiores magni. Autem aperiam quo
                atque. Ratione eligendi culpa molestiae. Rerum est nisi odio facilis ad. Ducimus rem et et et vero
                deserunt molestiae.</p>
            <br>
        </div>
    </div>
</div>
{% endblock %}
