{% extends "header.html" %}
{% block content %}
<link rel="stylesheet" href="static\css\faq.css">
<style>
    .card {
        background-color: rgba(256, 256, 256, 0.8);
        border-radius: 20px;
    }

</style>
<div class="container ">
    <div class="card">
        <h1>F.A.Q.</h1>
        <details>
            <summary>Question 1</summary>
            <p>Just use a <code>details</code> and <code>summary</code> tags with a little CSS, no more JS. You can use
                any text
                or emoji as caret.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora in nihil, deleniti saepe optio corrupti
                dolorum
                perferendis hic iure, maiores quae vitae provident minus, ipsum, aut tempore facilis doloremque rem.</p>

        </details>
        <details>
            <summary>Question 2</summary>
            <p>Ipsa veritatis inventore reprehenderit dolorem, officiis. Quaerat doloribus voluptatibus impedit repellat
                quae
                perspiciatis nesciunt, recusandae facilis unde fugit et eaque rem voluptatum perferendis libero veniam
                rerum
                aliquam eos minima voluptate.</p>
        </details>
        <details>
            <summary>Question 3</summary>
            <p>Quisquam, necessitatibus quo dolore sequi suscipit magni, voluptatum debitis, accusantium dolorum officia
                beatae
                rerum similique optio saepe vel dicta facere modi, voluptatem culpa expedita quaerat eum reprehenderit
                dolores.
                Assumenda, doloremque!</p>
        </details>
        <details>
            <summary>Question 4</summary>
            <p>Dolorum quaerat facilis magnam commodi molestiae atque similique hic enim pariatur nulla magni amet iusto
                soluta
                nemo alias odit recusandae repudiandae dignissimos, fugit asperiores quia eius necessitatibus iure.
                Possimus,
                illum.</p>
        </details>
        <details>
            <summary>Question 5</summary>
            <p>Consequuntur voluptate consequatur sed adipisci libero temporibus atque itaque voluptas eos, rerum vero
                qui.
                Adipisci illum, molestias commodi unde necessitatibus ea, quod explicabo, deleniti voluptatem aliquam
                reprehenderit, nobis maiores. Saepe?</p>
        </details>
    </div>
</div>
{% endblock %}
