<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />

    <!-- CSS  -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="static\css\materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="static\css\style.css type=" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>

    <nav>
        <div class="nav-wrapper orange">
            <!-- <a href="#" class="brand-logo right">Logo</a> -->
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="{{ url_for('home') }}"">Home</a></li>
                <li><a href=" #">FAQ's</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="static\js\materialize.js"></script>
    <script src="static\js\init.js"></script>
    <script src="static\js\main.js"></script>

</body>

</html>
