{% extends "header.html" %}
{% block content %}
<style>
    .card {
        background-color: rgba(256, 256, 256, 0.8);
        border-radius: 20px;
    }

</style>
<div class="container">
    <div class="card">
        <h1 class="header center darken-3 green-text">How To Get Co-ordinates</h1>
        <div class="row center">

            <h3 class="header col s12 light">1. Go to the below website</h3>
            <h2><a href="https://geojson.io/" target="_blank">geojson.io</a></h2>
        </div>
        <div class="row center">
            <h3 class="header col s12 light">2. Search For the Area you want.</h3>
            <img src='static\img\search.gif' alt='' width="900" height="450" />
        </div>
        <div class="row center">
            <h3 class="header col s12 light">3. Select the required Area using the selector</h3>
            <img src='static\img\select.gif' alt='' width="900" height="450" />
        </div>
        <div class="row center">
            <h3 class="header col s12 light">4. Copy the Co-ordinates as it is</h3>
            <img src='static\img\copy.gif' alt='' width="900" height="450" />
        </div>
        <div class="row center">
            <h3 class="header col s12 light">5. Paste it in the Co-ordinate input. </h3>
            <img src='static\img\paste.gif' alt='' width="900" height="450" />
        </div>
        <br>
    </div>
</div>


{% endblock %}
